<div id="hero-wrapper">
  <div class="carousel-wrapper">
    <div id="hero-carousel" class="carousel slide carousel-fade">
      <ol class="carousel-indicators">
        <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#hero-carousel" data-slide-to="1"></li>
        <li data-target="#hero-carousel" data-slide-to="2"></li>
        <li data-target="#hero-carousel" data-slide-to="3"></li>
        <li data-target="#hero-carousel" data-slide-to="4"></li>
        <li data-target="#hero-carousel" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("hangfire1.jpg", width: '8' ) %>
        </div>
        <div class="item">
           <%= image_tag("hangfire2.jpg") %>
        </div>
        <div class="item">
           <%= image_tag("hangfire3.jpg") %>
        </div>
      </div>
      <a class="left carousel-control" href="#hero-carousel" data-slide="prev">
        <i class="fa fa-chevron-left left"></i>
      </a>
      <a class="right carousel-control" href="#hero-carousel" data-slide="next">
        <i class="fa fa-chevron-right right"></i>
      </a>
    </div>
  </div>
</div>
